name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "22"

      - name: Install dependencies
        run: npm ci
        working-directory: backend

      - name: Install NestJS CLI
        run: npm i -g @nestjs/cli

      - name: Build project
        run: npm run build
        working-directory: backend

      - name: Get SSH key
        run: echo "${{ secrets.EC2_PEM_KEY }}" | base64 --decode > key.pem

      - name: Set permissions for SSH key
        run: chmod 400 key.pem
      - name: Set up SSH directory
        run: |
          mkdir -p ~/.ssh
          chmod 700 ~/.ssh

      - name: Add EC2 to known_hosts
        run: |
          ssh-keyscan -H ${{ secrets.EC2_PUBLIC_IP }} >> ~/.ssh/known_hosts
          chmod 644 ~/.ssh/known_hosts

      - name: Create target directory on EC2
        run: |
          ssh -i key.pem ubuntu@${{ secrets.EC2_PUBLIC_IP }} "sudo mkdir -p /sites/orgafile"

      - name: Deploy using SCP
        run: |
          scp -i key.pem -r ./backend/dist ./backend/package.json ubuntu@${{ secrets.EC2_PUBLIC_IP }}:/sites/orgafile
      - name: Restart Application
        run: |
          ssh -i key.pem ubuntu@${{ secrets.EC2_PUBLIC_IP }} "cd /sites/orgafile && sudo npm i && pm2 restart all || sudo systemctl restart nginx"
